{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form%}

{% block title %}Asignación de artículos{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="row">
            <h1 class="display-4 fw-bold text-body-emphasis pb-4">Asignación de artículos</h1>
            <!-- <p>{{ categories }}</p> -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="card text-bg-dark border-light mb-3">
                        <div class="card-header bg-transparent border-light">
                            <h3 class="text-center mb-0">Evaluadores</h3>
                        </div>
                        <div class="card-body text-light">
                            <form id="evaluatorsAssignmentForm" action="{{ url_for('articles_assignment') }}" method="post">
                                <div class="row">
                                    <div class="col-sm-6 p-2">
                                        <p class="text-center">Cantidad desplegada</p>
                                        <select class="form-select" aria-label="Default select example">
                                              <option selected>Todos</option>
                                              <option value="1">Disponibles</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 p-2">
                                        <p class="text-center">Categoría</p>
                                        <select class="form-select">
                                            {% for i in range(0, categories["EvaluatorCategories"]|length): %}
                                                {% if i.first%}
                                            <option selected>{{ categories["EvaluatorCategories"][i][1] }}</option>
                                                {% else %}
                                            <option value="1">{{ categories["EvaluatorCategories"][i][1] }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button class="btn btn-primary col-2 mx-2" id="evaluatorSubmitButton" type="submit">Filtrar</button>
                                </div>
                                <table class="table table-dark table-striped table-hover my-4">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col"># ID</th>
                                            <th scope="col">#1</th>
                                            <th scope="col">#2</th>
                                            <th scope="col">#3</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in range(0, data["Evaluators"]|length): %}
                                        <tr>
                                            <th scope="row" class="col-sm-4">{{ data["Evaluators"][i]["name"] }}</th>
                                            <td class="col-md-2" >{{ data["Evaluators"][i]["id"] }}</td>
                                            {% for j in range(0, data["Evaluators"][i]["assignedArticles"]|length): %}
                                            <td>
                                                <input type="text" class="form-control col-md-1" id='{{ data["Evaluators"][i]["id"] }}' value='{{ j }}'>
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card text-bg-dark border-light mb-3">
                        <div class="card-header bg-transparent border-light">
                            <h3 class="text-center mb-0">Artículos</h3>
                        </div>
                        <div class="card-body text-light">
                            <form id="aritclesAssignmentForm" action="{{ url_for('articles_assignment') }}" method="post">
                                <div class="row">
                                    <div class="col-sm-6 p-2">
                                        <p class="text-center">Cantidad desplegada</p>
                                        <select class="form-select" aria-label="Default select example">
                                              <option selected>Todos</option>
                                              <option value="1">Disponibles</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 p-2">
                                        <p class="text-center">Categoría</p>
                                        <select class="form-select">
                                            {% for i in range(0, categories["ArticleCategories"]|length): %}
                                                {% if i.first%}
                                            <option selected>{{ categories["ArticleCategories"][i][1] }}</option>
                                                {% else %}
                                            <option value="1">{{ categories["ArticleCategories"][i][1] }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button class="btn btn-primary col-2 mx-2" id="articleSubmitButton" type="submit">Filtrar</button>
                                </div>
                                <table class="table table-dark table-striped table-hover my-4">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col"># ID</th>
                                            <th scope="col">#1</th>
                                            <th scope="col">#2</th>
                                            <th scope="col">#3</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in range(0, data["Articles"]|length): %}
                                        <tr>
                                            <th scope="row" class="col-sm-4">{{ data["Articles"][i]["title"] }}</th>
                                            <td class="col-md-2" >{{ data["Articles"][i]["id"] }}</td>
                                            {% for j in range(0, data["Articles"][i]["assignedEvaluators"]|length): %}
                                            <td>
                                                <input type="text" class="form-control col-md-1" id='{{ data["Articles"][i]["id"] }}' value='{{ j }}'>
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg col-2 mx-auto" id="saveButton">Guardar cambios</button>
        </div>
    </div>
{% endblock %}